.banner {
  padding-top: 4rem;
  width: 100%;
  height: 30rem;
  background-image: url("./media/bg_house.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-header {
  color: black;
  text-align: center;
  font-size: 3rem;
  padding-top: 2rem;
  font-size: 5rem;
  opacity: .8;
}

.navbar-brand {
  font-size: xx-large;
}

.nav-link {
  font-size: x-large;
  color: black !important;
}

nav {
  transition: .5s;
}






.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  display: none;
}